@media screen and (min-width: 320px) and (max-width: 767px) {
    .menu {
        display: none;
    }

    .info {
        display: none;
    }

    .logo {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
    }

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: auto;
    }


    .info-mail {
        color: #434455;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.4em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;
    }
}

@media screen and (min-width:768px) {

    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 16px;
        padding-left: 16px;
    }

    .container-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .info-mail {

        font-size: 12px;

    }

    .logo {
        margin-right: 120px;
    }

    .menu {
        margin-right: auto;
    }

    .order-section {
        padding: 112px 0;
         }

    .order-title-section {
         color: #FFF;
         font-size: 56px;
         line-height: 1.07;
         margin: 0 auto;
         margin-bottom: 36px;
         text-transform: none;
  }
    .order-title {
        text-align: left;
}
    
    .feature-list {
        flex-basis: calc((100% - 24px) / 2);
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
}













}


































@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
        /* padding-right: 156px;
        padding-left: 156px; */
    }

    .info-adress {
    
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    
    .container-header {
        max-height: 72px;
    }
    .order-section {
        padding: 188px 0;
        }
    
    .order-title-section {
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: 0 auto;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
        }
            
    .icon-feature {
        display: block;
 }
        
    .future-list {
        flex-wrap: nowrap;
                    }
        
    .order-text {
        color: var(--color-primery);
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list-company {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list {
    flex-shrink: 0;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
}
    

